h1 {
    text-align: center;
    margin-top: 20px;
}
table {
    width: 100%;
    border-collapse: collapse;
    background: #fff;
    width: 95%;
    margin:0 auto;
    margin-top: 20px;
}
th, td {
    padding: 10px;
    border: 1px solid #000;
    text-align: center;
}
th { background: #f2f2f2; color: #000; }
form select, form button {
    padding: 5px;
    margin-left: 5px;
    font-size: 14px;
}
.updt {
    background: #8F1717;
    color: #fff;
    border: none;
    cursor: pointer;
}
.updt:hover { background: #6b1010; }

.card1{
    background-color: #fff;
    margin: 50px auto;
    gap: 40px;
    width: 90%;
    height: max-content;
    border-top: 10px solid #8F1717;
    box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 8px;
}