@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    font-family: 'Montserrat';
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.cards img{
    margin-top: -30px;
    width: 40px;
    height: 55px;
    padding-bottom: 5%;
}
.cards p{
    font-size: 17px;
    text-align: center;
}
.cards{
    display:flex;
    justify-content: space-evenly;
    margin-bottom: 120px;
}

.card{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.card1,.card2,.card3{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    width: 375px;
    height: 375px;
    border-top: 10px solid #8F1717;
    box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 8px;  
}

.card1:hover,.card2:hover,.card3:hover {
    box-shadow: 0px 15px 25px 3px rgba(0, 0, 0, 0.3);
    transform: translateY(-10px);
    transition: all 0.3s ease-in-out;
}
.section1 h1{
    text-align: center;
    font-size: 40px;
    margin-top: -10px;
    padding: 50px;
    color: #8F1717;
}
.section1 h3:not(.cards h3){
    text-align: center;
    font-size: 30px;
    margin-top: -25px;
    padding: 0px 0px 75px 0px;
}
.cards .r1,.cards .r2{
    margin-bottom: 50px;
}
.cards .r1,.r2,.r3{    
    gap: 20px;
}
.s1,.s2,.s3{
    margin-top: 20px;
}